body {
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.search-h1 {
    font-size: 50px;
    color: transparent;
    background: rgb(7, 5, 26);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}

.search-container {
    text-align: center;
}

.search-box {
    margin-bottom: 30px;
}

.search-input {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    outline: none;
    border: 2px solid #D8D8D8;
    border-radius: 40px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 8px 2px #D8D8D8;
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 8px 2px #D8D8D8;
}

.search-btn {
    font-family: Georgia, serif;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border: 2px solid #D8D8D8;
    border-radius: 40px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 8px 2px #D8D8D8;
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 8px 2px #D8D8D8;
}

.search-btn:hover {
    background-color: #f9f9f9; /* 鼠标悬停时的背景色，与dropdown-content背景色一致 */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); /* 阴影，与dropdown-content阴影风格一致 */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute; /* 更改为absolute定位 */
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px;
    left: 0; /* 确保内容左对齐 */
    top: 100%; /* 将下拉内容放置在触发元素的下方 */
    z-index: 1;

    font-family: Georgia, serif;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border: 2px solid #D8D8D8;
    border-radius: 40px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 8px 2px #D8D8D8;
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 8px 2px #D8D8D8;
    text-align: left; /* 新增属性以确保内容左对齐 */
}

.dropdown:hover .dropdown-content {
    display: block;
}
